body {
  background-color: rgb(209, 209, 209);
}

h1 {
  font-size: 4em;
  font-family: novecento-sans-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1:hover {
  cursor: pointer;
}

h2 {
  font-size: 2em;
  font-family: novecento-sans, sans-serif;
  font-weight: 200;
  font-style: normal;
}

h3 {
  font-size: 2em;
  font-family: novecento-sans, sans-serif;
  font-weight: 200;
  font-style: normal;
}

h3:hover {
  cursor: pointer;
  color: rgb(9, 155, 130);
  text-decoration: none;
}

p {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.16em;
}

#navContainer {
  display: flex;
  background-color: rgb(209, 209, 209);
  align-items: center;
  justify-content: space-around;
  height: 7em;
}

.headerLink {
  font-size: 1.5em;
  font-style: bold;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  text-decoration: none;
  font-family: novecento-sans, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.headerLink:hover {
  text-decoration: underline;
  color:rgb(9, 155, 130)
}

#welcomeContainer {
  margin: 0 20%;

}

div#photoContainer {
  display: flex;
  padding-top: 10%;
  text-align: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
  background-size: 100%;
  background-image: url("https://imgur.com/XTu1dM2.jpg");
  background-repeat: no-repeat;
}

#welcomeBlurb {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2em;
  text-align: center;
  color: white;
}

#projectContainer {
  margin: 0 20%;
}

#aboutContainer {
  margin: 0 20%;
}

.fadeIn {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

#aboutContent {
  display: flex;
  justify-content: center;
}

#bioBlurb {
  width: 50%;
  padding-left: 10px;
}

#aboutLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}

.bioLink {
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  padding-top: 10px;
}

.bioLink:hover {
  text-decoration: none;
  color: rgb(9, 155, 130);
}

#resumeTrigger {
  padding-top: 10px;
}

#contactContainer {
  margin: 0 20%;
}

#footerContainer {
  display: flex;
  background-color: rgb(209, 209, 209);
  align-items: center;
  justify-content: space-around;
  height: 7em;
  bottom: 0;
  position: fixed;
  width: 100%;
}

a.footerLink {
  color: black;
}

a.footerLink:hover {
  color:rgb(9, 155, 130)
}

.ui.modal {
  position: static;
  height: auto;
}