body {
  background-color: rgb(9, 155, 130);
}

h1 {
  font-size: 4em;
  font-family: novecento-sans-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1:hover {
  cursor: pointer;
}

h2 {
  font-size: 2em;
  font-family: novecento-sans, sans-serif;
  font-weight: 200;
  font-style: normal;
}

#navContainer {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  height: 7em;
}

.headerLink {
  font-size: 1.5em;
  font-style: bold;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  text-decoration: none;
  font-family: novecento-sans, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.headerLink:hover {
  text-decoration: underline;
}

#welcomeContainer {
  margin: 0 20%;
}

#projectContainer {
  margin: 0 20%;
}

#aboutContainer {
  margin: 0 20%;
}

#contactContainer {
  margin: 0 20%;
}

#footerContainer {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  height: 7em;
  bottom: 0;
  position: fixed;
  width: 100%;
}